#Mac users (if you have not ssh-copy-id)
#install with brew
sudo brew install ssh-copy-id

#Create ssh-copy-id
ssh-copy-id username@myhost.name.com

#Create config file 
touch ~/.ssh/config

#Open file 
vim ~/.ssh/config

#And paste folling lines
Host localhostname
Hostname myhost.name.com
User username

#Save file

#Open new terminal
ssh localhostname

#enjoy it!