#Mac users (if you have not ssh-copy-id)
#install with brew
sudo brew install ssh-copy-id

#Create ssh-copy-id
ssh-copy-id username@myhost.name.com

#Open file 
vim ~/.ssh/config

#paste following lines
Host localhostname
Hostname myhost.name.com
User username

#Save and open new terminal
ssh localhostname

#enjoy it!